.modal {
  width: 760px;
  background: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  padding: 20px;
  display: none;
}

.modal.show {
  display: block;
  z-index: 3;
}

/* MODAL BODY  */

.modal__body {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

/* OPTIONS  */

.options__top {
  display: flex;
  justify-content: space-between;
}

.summary {
  display: flex;
  flex-direction: column;
  width: 49%;
}
.assign {
  width: 49%;
}

.options__bottom {
  display: flex;
  margin-top: 10px;
}

.options__bottom__element {
  flex-grow: 1;
  margin-right: 10px;
}
.options__bottom__element:last-child {
  margin-right: 0;
}

.options__bottom__element p {
  margin-bottom: 5px;
  font-size: 0.875rem;
}

.options select {
  width: 100%;
  box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.08);
  background: rgb(255, 255, 255);
  border-radius: 2px;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.08);
  padding: 10px 4px;
  outline: none;
}

.select option {
  padding: 10px 0;
}

/* text area  */

.textArea {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.textArea textarea {
  width: 100%;
  box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.08);
  background: rgb(255, 255, 255);
  border-radius: 2px;
  border: 1px solid rgba(0, 0, 0, 0.08);
  padding: 10px;
  outline: none;
  color: #666666;
  height: 140px;
  margin-top: 6px;
}

/* MODAL HEADER */

.modal__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0 auto 20px;
}

.modal__header h3 {
  margin: 0;
  font-size: 1.5rem;
}

.fa-times {
  cursor: pointer;
}

/* PROJECT NAME */

.project__name {
  width: 100%;
  box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.08);
  background: rgb(255, 255, 255);
  border-radius: 2px;
  border: 1px solid rgba(0, 0, 0, 0.08);
  padding: 10px;
  outline: none;
  color: #666666;
}

/* BUTTONS */

.buttons {
  margin-top: 20px;
}

.buttons button:nth-child(1) {
  margin-right: 20px;
}

.showBackground {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  display: block;
}

.background.show {
  display: none;
}
